.HalloAllemaal{
      
    background-color: blue;
    max-width: 70%;
    padding: 30px;
    margin: auto;
    font-size: 100px;
    border: solid 10px red;
  
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    background-color: black;
    
    

}
header{
    text-align: center;
    
    
}
.buttons{
    font-size: 50px;
    text-align: center;
    margin: 20px;
    background-color: lightseagreen;
    max-width: 80;
    color:white;
    border: solid 10px red;
    padding: 15px;
    margin-top: 15px;
  

}
a{
    text-decoration: none;
    color:white;

    
}
.buttons:hover{
    color: lightseagreen;
    background-color: white;
    border-radius: 300px;
    
}
.inleidingstekst{
    color: white;
    font-size: 40px;
    background: blue;
    text-align: center;
    border: solid 10px red;

}
#portret{
    max-width: 50%;
    margin-left: 25%;
    margin-bottom: 30px;
    border: dotted 10px red;
    

}
footer{
    color: blue;
    border: solid red 5px;
    font-size: 25px;
    text-align: center;
    
 
}
table{
    text-align: center;
    color: white;
    width: 50%;
    margin-left: 25%;
    background-color: blue;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
}
td{
    border: solid red 5px;
}
th{
    border: solid red 5px;
    
}
form{
    color: white;
    font-size: 50px;

}
   
input{
    display: block;
    background-color: blue;
    font-size: 50px;
    width: 50%;
    border: solid red 5px;
    
}
#verzenden{
    margin-top: 20px;
    color: white;
}
